<h1>get data method by "http://jsonplaceholder.typicode.com/posts/1/comments"</h1>
<table>
    <tr>
        <th>POSTID</th>
        <th>ID</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>BODY</th>
    </tr>
    <tr *ngFor="let com of lstComments">
        <td>{{com.postId}}</td>
        <td>{{com.id}}</td>
        <td>{{com.name}}</td>
        <td>{{com.email}}</td>
        <td>{{com.body}}</td>
    </tr>
</table>
<br>
<br>
<h1>get data by Params method by "http://jsonplaceholder.typicode.com/posts?userId=1"</h1>
<table>
    <tr>
        <th>USERID</th>
        <th>ID</th>
        <th>Title</th>
        <th>BODY</th>
    </tr>
    <tr *ngFor="let pos of lstPosts">
        <td>{{pos?.userId}}</td>
        <td>{{pos?.id}}</td>
        <td>{{pos?.title}}</td>
        <td>{{pos?.body}}</td>
    </tr>
</table>
<br>
<br>
<h1>post(selects one) method by "http://jsonplaceholder.typicode.com/posts?userId=1"</h1>
<p>Id:{{objPosts?.id}}</p>
<p>UserId:{{objPosts?.userId}}</p>
<p>Title:{{objPosts?.title}}</p>
<p>Body:{{objPosts?.body}}</p>
<br>
<br>
<h1>put(update) method by "'https://jsonplaceholder.typicode.com/posts/1'"</h1>
<p>Id:{{objPuts?.id}}</p>
<p>UserId:{{objPuts?.userId}}</p>
<p>Title:{{objPuts?.title}}</p>
<p>Body:{{objPuts?.body}}</p>
<br>
<br>
<h1>Patch(existing) method by "'https://jsonplaceholder.typicode.com/posts/1'"</h1>
<p>Id:{{objPatchs?.id}}</p>
<p>UserId:{{objPatchs?.userId}}</p>
<p>Title:{{objPatchs?.title}}</p>
<p>Body:{{objPatchs?.body}}</p>
<br>
<br>
<h1>Delete method by external api "https://jsonplaceholder.typicode.com/posts/1"</h1>
<p>Message:{{message}}</p>